.wrapper {
  width: 100%;
  max-width: 98%; }

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

nav.mobile {
  background-color: #f2f1f8;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: transform 1s ease;
  transform: translateY(-200%);
  align-items: center; }
  nav.mobile a {
    text-decoration: none;
    margin: 15% 0 0;
    font-size: 1.3rem;
    line-height: 1em;
    display: block;
    text-align: center;
    letter-spacing: 0.21em;
    opacity: 1;
    color: #7a7a7a; }
  nav.mobile .button {
    margin: 15% auto 0;
    color: #ffffff; }
  nav.mobile .close {
    color: #3f3d4e;
    font-size: 2rem;
    position: fixed;
    right: 0;
    margin: 5%; }
  nav.mobile #social {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12%;
    justify-content: space-around; }
    nav.mobile #social i {
      font-size: 2rem;
      color: #3f3d4e; }

nav.mobile.on {
  transform: translateY(0); }

#banner header {
  display: flex;
  justify-content: space-between; }
#banner #logo {
  float: none;
  margin: .5rem;
  font-size: 1.6rem; }
  #banner #logo span {
    font-size: 2rem; }
#banner .ham {
  display: block;
  color: #58e48c;
  font-size: 2rem;
  margin: auto 5%; }
#banner nav.desktop {
  display: none; }
#banner .content {
  padding: 2rem 0; }
  #banner .content .title {
    font-size: 1.5rem;
    line-height: 1.4; }
  #banner .content .sub_title {
    font-size: 1.5rem;
    margin: 3rem 1rem; }
  #banner .content .button_wrapper {
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column; }
    #banner .content .button_wrapper .button {
      padding: 1rem 4rem;
      margin: 1rem; }

#services {
  display: flex;
  flex-direction: column;
  position: static;
  padding: 2rem 0; }
  #services .service {
    width: 90%;
    max-width: 450px;
    float: none;
    margin: 1rem auto;
    padding: 2.5rem 2.5%; }
    #services .service:after {
      bottom: -130px;
      height: 130px; }
  #services:before {
    display: none; }

#past_work {
  padding: 3rem 0 0; }
  #past_work .title {
    font-size: 2rem; }
  #past_work .small_head {
    font-size: 0.7rem; }
  #past_work .logos {
    width: 100%;
    flex-direction: column;
    margin: 2rem auto 0; }
    #past_work .logos .logo {
      max-width: 300px;
      width: 50%;
      margin: 1rem auto; }
    #past_work .logos .play {
      order: -1; }
  #past_work #slider {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    #past_work #slider li {
      position: static;
      width: 80vw;
      height: 40vw;
      margin: 0 auto;
      box-shadow: 0 0 100px 0 rgba(4, 6, 9, 0.25); }
      #past_work #slider li:nth-child(1) {
        bottom: 0;
        left: 0;
        transform: scale(0.8, 0.8);
        z-index: 0; }
      #past_work #slider li:nth-child(2) {
        bottom: 0;
        left: 0;
        margin-left: auto;
        z-index: 1;
        transform: scale(0.9, 0.9);
        margin-top: -30vw; }
      #past_work #slider li:nth-child(3) {
        bottom: 0;
        right: 0;
        z-index: 2;
        transform: scale(1);
        margin-top: -30vw; }

#contact {
  padding: 2rem 0; }
  #contact .contact_copy {
    float: none; }
    #contact .contact_copy .title {
      font-size: 2rem;
      margin: 0 0 2rem; }
    #contact .contact_copy .small_head {
      font-size: 0.7rem; }
  #contact .contact_form {
    width: 100%;
    float: none; }
    #contact .contact_form .input {
      margin: auto; }
    #contact .contact_form .button {
      padding: 1rem 6rem;
      margin: 1rem; }

footer {
  padding: 1rem;
  font-size: 0.8rem; }
  footer .in {
    font-size: 1rem; }
