@import "https://fonts.googleapis.com/css?family=Amita|Noto+Sans";
* {
  box-sizing: border-box;
}

body {
  font-family: Noto Sans,futura-medium,sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5rem;
}

.wrapper {
  width: 1440px;
  max-width: 90%;
  margin: 0 auto;
}

.button {
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: 0.6rem 3.5rem;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.button_highlight {
  background: #58e48c;
}

.button_secondary {
  background: rgba(250, 250, 250, 0.35);
}

.button_small {
  padding: 0.3rem 1.5rem;
}

.cf:after,
.cf:before {
  content: " ";
  display: table;
}

.cf::after {
  clear: both;
}

#banner {
  background-image: url("../images/banner_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#banner header {
  padding: 2rem 0;
}
#banner #logo {
  color: #ffffff;
  font-family: Amita;
  font-size: 2.2rem;
  float: left;
  margin-top: 1.6rem;
  letter-spacing: 0.3rem;
}
#banner #logo span {
  font-size: 3.5rem;
  color: #58e48c;
}
#banner nav {
  float: right;
  margin-top: 2.3rem;
}
#banner nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 2rem;
}
#banner .content {
  padding: 7rem 0 6rem;
}
#banner .content .sub_title,
#banner .content .title {
  color: #ffffff;
  text-align: center;
}
#banner .content .title {
  font-size: 3.5rem;
  margin: 0;
}
#banner .content .sub_title {
  font-weight: 400;
  font-size: 1.35rem;
  margin: 5rem;
  line-height: 1.75;
}
#banner .content .button_wrapper {
  text-align: center;
  margin: 5rem 0;
}
#banner .content .button_wrapper .button {
  margin: 1.5rem;
}

#services {
  background: #f2f1f8;
  padding: 2rem 0 6.5rem;
  position: relative;
}
#services .service {
  background: #ffffff;
  width: 31%;
  float: left;
  margin: -5rem 1% 0;
  padding: 3rem 2.5%;
  text-align: center;
  position: relative;
  box-shadow: 0 0 57px 0 rgba(4, 6, 9, 0.25);
  border-radius: 0.35rem;
}
#services .service h3 {
  font-weight: 200;
  margin: 0;
  font-size: 1.5rem;
  color: #3f3d4e;
}
#services .service p {
  font-size: 1rem;
  color: #7a7a7a;
}
#services .service .button {
  padding: 0.5rem 2rem;
}
#services .service:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -37px;
  height: 37px;
  border-left: 2px solid #c9c7d3;
}
#services .middle:after {
  bottom: -105px;
  height: 105px;
}
#services:before {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 54px;
  border-top: 2px solid #c9c7d3;
  width: 59.5%;
  margin-left: -30.1%;
}

#past_work {
  background: #3f3d4e;
  padding: 5rem 0 25rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}
#past_work .logos {
  width: 960px;
  max-width: 95%;
  margin-top: 2rem;
}
#past_work .small_head {
  font-size: 0.8rem;
  color: #ffffff;
}
#past_work .title {
  margin: 0 0 0.75rem;
  font-size: 4rem;
  color: #ffffff;
  letter-spacing: 5.4px;
}
#past_work #slider {
  list-style: none;
}
#past_work #slider li {
  width: 600px;
  height: 300px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 0 57px 0 rgba(4, 6, 9, 0.25);
  position: absolute;
  z-index: 3;
  border-radius: 0.35rem 0.35rem 0 0;
}
#past_work #slider li img {
  width: 100%;
}
#past_work #slider li:nth-child(1) {
  bottom: -37px;
  left: 0;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  z-index: 2;
}
#past_work #slider li:nth-child(2) {
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  z-index: 4;
}
#past_work #slider li:nth-child(3) {
  bottom: -37px;
  right: 0;
  -webkit-transform: scale(0.8, 0.8);
          transform: scale(0.8, 0.8);
  z-index: 2;
}

#contact {
  background: #f2f1f8;
  padding: 5rem 0;
}
#contact .contact_copy {
  float: left;
  margin: 1.5rem 4rem;
}
#contact .contact_copy .title {
  font-size: 4rem;
  color: #58e48c;
  margin: 0 0 5rem;
}
#contact .contact_copy .small_head {
  font-size: 0.8rem;
  color: #58e48c;
  margin-left: 0.3rem;
}
#contact .contact_copy p {
  color: #7a7a7a;
}
#contact .contact_form {
  position: relative;
  width: 45%;
  text-align: center;
  float: right;
}
#contact .contact_form .input {
  position: relative;
  z-index: 1;
  display: block;
  margin: 1rem auto;
  max-width: 400px;
  width: calc(100% - 2rem);
  vertical-align: top;
  overflow: hidden;
}
#contact .contact_form .input_field {
  position: relative;
  display: block;
  float: right;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  margin-top: 1em;
  padding: 0.85em 0.15em;
  width: 100%;
  background: transparent;
}
#contact .contact_form .input_field:focus {
  outline: none;
}
#contact .contact_form .input_label {
  display: inline-block;
  float: right;
  color: #7a7a7a;
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.2rem;
  width: 100%;
  height: calc(100% - 1rem);
  text-align: left;
  pointer-events: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#contact .contact_form .input_label_content {
  position: absolute;
  display: block;
  padding: 1rem 0;
  width: 100%;
}
#contact .contact_form .input_label::after,
#contact .contact_form .input_label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 1px solid #B9C1CA;
}
#contact .contact_form .input_label::after {
  border-bottom: 5px solid #58e48c;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
#contact .contact_form .input--filled .input_label::after,
#contact .contact_form .input_label:focus + .input_label::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#contact .contact_form .input--filled .input_label_content,
#contact .contact_form .input_field:focus + .input_label .input_label_content {
  -webkit-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards;
}
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0);
  }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
  }
}
#contact .contact_form .button {
  padding: 1rem 5rem;
  margin: 4rem auto 0;
}

footer {
  padding: 3rem;
  text-align: center;
  font-family: Helvetica-light;
  font-size: 1.5rem;
  color: #3f3d4e;
}
footer .green {
  color: #58e48c;
}
footer .in {
  font-size: 2rem;
}
footer .amita {
  font-family: Amita,cursive;
  letter-spacing: 0.2rem;
}
