//-----------------Global Styles------------//
$white: #ffffff;
$highlight: #58e48c;
$grey_background: #f2f1f8;
$grey_copy: #7a7a7a;
$dark_grey: #3f3d4e;
.wrapper {
    width: 100%;
    max-width: 98%;
}
//-----------------Banner Styles------------//
body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}
nav.mobile {
    background-color: $grey_background;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    float: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 1s ease;
    transform: translateY(-200%);
    align-items: center;
    a {
        text-decoration: none;
        margin: 15% 0 0;
        font-size: 1.3rem;
        line-height: 1em;
        display: block;
        text-align: center;
        letter-spacing: 0.21em;
        opacity: 1;
        color: $grey_copy;
    }
    .button {
        margin: 15% auto 0;
        color: $white;
        &:focus {}
    }
    .close {
        color: $dark_grey;
        font-size: 2rem;
        position: fixed;
        right: 0;
        margin: 5%;
    }
    #social {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 12%;
        justify-content: space-around;
        i{
          font-size: 2rem;
          color: $dark_grey;

        }
    }
}
nav.mobile.on {
    transform: translateY(0);
}
#banner {
    header {
        display: flex;
        justify-content: space-between;
    }
    #logo {
        float: none;
        margin: .5rem;
        font-size: 1.6rem;
        span{
          font-size: 2rem
        }
    }
    .ham {
        color: $highlight;
        font-size: 2rem;
        margin: auto 5%;

    }
    nav.desktop {
        display: none;
    }
    .content {
        padding: 2rem 0;
        .title {
            font-size: 1.5rem;
            line-height: 1.4;
        }
        .sub_title {
            font-size: 1.5rem;
            margin: 3rem 1rem;
        }
        .button_wrapper {
            max-width: 300px;
            margin: auto;
            display: flex;
            flex-direction: column;
            .button {
                padding: 1rem 4rem;
                margin: 1rem;
            }
        }
    }
}
//-----------------Services Styles------------//
#services {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 2rem 0;
    .service {
        width: 90%;
        max-width: 450px;
        float: none;
        margin: 1rem auto;
        padding: 2.5rem 2.5%;
        &:after {
            bottom: -130px;
            height: 130px;
        }
    }
    &:before {
        display: none;
    }
}
//-------------Portfolio Styles------------//
#past_work {
    padding: 3rem 0 0;
    .title {
        font-size: 2rem;
    }
    .small_head {
        font-size: 0.7rem;
    }
    .logos {
        width: 100%;
        flex-direction: column;
        margin: 2rem auto 0;
        .logo {
            max-width: 300px;
            width: 50%;
            margin: 1rem auto;
        }
        .play {
            order: -1;
        }
    }
    #slider {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: 0 auto;
        padding: 0;
        text-align: center;
        li {
            position: static;
            width: 80vw;
            height: 40vw;
            margin: 0 auto;
            box-shadow: 0 0 100px 0 rgba(4,6,9,0.25);
            &:nth-child(1) {
                bottom: 0;
                left: 0;
                transform: scale(.8,.8);
                z-index: 0;
            }
            &:nth-child(2) {
                bottom: 0;
                left: 0;
                margin-left: auto;
                z-index: 1;
                transform: scale(.9,.9);
                margin-top: -30vw;
            }
            &:nth-child(3) {
                bottom: 0;
                right: 0;
                z-index: 2;
                transform: scale(1);
                margin-top: -30vw;
            }
        }
    }
}
//------------Contact Styles------------//
#contact {
    padding: 2rem 0;
    .contact_copy {
        float: none;
        .title {
            font-size: 2rem;
            margin: 0 0 2rem;
        }
        .small_head {
            font-size: 0.7rem;
        }
    }
    .contact_form {
        width: 100%;
        float: none;
        .input {
            margin: auto;
        }
        .button {
            padding: 1rem 6rem;
            margin: 1rem;
        }
    }
}
footer {
    padding: 1rem;
    font-size: 0.8rem;
    .in {
        font-size: 1rem;
    }
}
